.sprite { background: url('sprite.png') no-repeat top left;  } 
.sprite.amazon1 { background-position: 0px 0px; width: 34px; height: 32px;  } 
.sprite.amzonbuy { background-position: -44px 0px; width: 32px; height: 32px;  } 
.sprite.apple { background-position: -86px 0px; width: 32px; height: 32px;  } 
.sprite.apple2 { background-position: -128px 0px; width: 25px; height: 32px;  } 
.sprite.arrow-left { background-position: -163px 0px; width: 32px; height: 32px;  } 
.sprite.arrow-left2 { background-position: -205px 0px; width: 32px; height: 32px;  } 
.sprite.cart { background-position: -247px 0px; width: 32px; height: 32px;  } 
.sprite.facebook { background-position: -289px 0px; width: 32px; height: 32px;  } 
.sprite.facebook2 { background-position: -331px 0px; width: 14px; height: 32px;  } 
.sprite.facebook3 { background-position: -355px 0px; width: 32px; height: 32px;  } 
.sprite.facebook4 { background-position: -397px 0px; width: 32px; height: 32px;  } 
.sprite.help { background-position: -439px 0px; width: 32px; height: 32px;  } 
.sprite.question { background-position: -481px 0px; width: 32px; height: 32px;  } 
.sprite.search { background-position: -523px 0px; width: 32px; height: 32px;  } 
.sprite.search2 { background-position: -565px 0px; width: 32px; height: 32px;  } 
.sprite.share { background-position: -607px 0px; width: 32px; height: 32px;  } 
.sprite.share2 { background-position: -649px 0px; width: 32px; height: 32px;  } 
.sprite.share3 { background-position: -691px 0px; width: 32px; height: 32px;  } 
.sprite.social-facebook { background-position: -733px 0px; width: 32px; height: 32px;  } 
.sprite.users { background-position: -775px 0px; width: 32px; height: 32px;  } 
.sprite.users2 { background-position: -817px 0px; width: 32px; height: 32px;  } 
.sprite.cross { background-position: -859px 0px; width: 32px; height: 32px;  } 
.sprite.amazon2 { background-position: -901px 0px; width: 34px; height: 32px;  } 
.sprite.apple3 { background-position: -945px 0px; width: 25px; height: 32px;  } 
.sprite.apple4 { background-position: -980px 0px; width: 32px; height: 32px;  } 
.sprite.cart1 { background-position: -1022px 0px; width: 32px; height: 32px;  }
.sprite.amazon3 { background-position: -1064px 0px; width: 32px; height: 32px;  }
.sprite.apple5 { background-position: -1106px 0px; width: 32px; height: 32px;  } 
.sprite.amazon { background-position: -1148px 0px; width: 22px; height: 22px;  } //22px
.sprite.apple { background-position: -1180px 0px; width: 22px; height: 22px;  }//22px




//example 


<div class='sprite amazon1'></div>
<div class='sprite amzonbuy'></div>
<div class='sprite apple'></div>
<div class='sprite apple2'></div>
<div class='sprite arrow-left'></div>
<div class='sprite arrow-left2'></div>
<div class='sprite cart'></div>
<div class='sprite facebook'></div>
<div class='sprite facebook2'></div>
<div class='sprite facebook3'></div>
<div class='sprite facebook4'></div>
<div class='sprite help'></div>
<div class='sprite question'></div>
<div class='sprite search'></div>
<div class='sprite search2'></div>
<div class='sprite share'></div>
<div class='sprite share2'></div>
<div class='sprite share3'></div>
<div class='sprite social-facebook'></div>
<div class='sprite users'></div>
<div class='sprite users2'></div>
<div class='sprite cross'></div>